<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Platform.Modeler.Properties.Settings.ejemploConexionBDConnectionString"
            connectionString="Data Source=DESKTOP-92V359R\SQLEXPRESS;Initial Catalog=ejemploConexionBD;Persist Security Info=True;User ID=sa;Password=DanielEAM2016"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>